<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <%= port %>
    </div>
    <button><a href="./test">Test</a></button>
    <div style="background-color: chocolate"><p>Hello everyone, Let's test CI/CD</p></div>
  </body>
</html>
